@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-color: theme("colors.teal.400");
  opacity: 20%;
}

.hero-animated {
  background: linear-gradient(
    to top right,
    theme("colors.violet.400") 25%,
    theme("colors.blue.400"),
    theme("colors.teal.400")
  );
  opacity: 25%;
  background-size: 100% 100%;
}
